.main{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center{
    width: 25%;
    height: 100vh;
    background-color: whitesmoke;
    box-shadow: 5px 5px 25px -5px;
    border-radius: 15px;
}

h1{
    color: aliceblue;
    background:transparent;
    background-color: red;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px;
}

input{
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid palevioletred;
    outline: none;
}

button{
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: blue;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: #20bf6b;
}

ol{
    margin-top: 30px;
}

ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color:blue;
    text-transform: capitalize;
}

.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.todo_style .fa-times{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px black;
}

.todo_style .fa-times:hover{
    background-color: red;
}

.todo_style .fa-times:hover .list_style{
    color: red;
}

@media (max-width:768px){
    .center{
        width:55%; 
    }
}

.todo_style .fa-times{
    margin:0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: white;
    font-size: 30px;
}

